h1 {
    color: #8B2635;
}
h2 {
    color: #FFDF00;
}
h3 {
    color: #FFDF00;
}.container {
    background-color: #D6C9C9;
}
body {
     background-color: #D6C9C9;
}
#Education {
    margin-top: 4em;
    background-color: #96ADC8;
}
#Research {
    margin-top: 2em;
    background-color: #96ADC8;
}
#Personal {
    margin-top: 2em;
    background-color: #96ADC8;
    padding-bottom: 2em
}
h3{
    font-size: 1em;
}
#right-col h2{
    font-size: 1.5em;
}
.deepee {
    border-radius: 100%;
}
#left-col{
    background-color: #96ADC8;
    text-align: justify;
    padding-bottom: 50%
}
.surname {
    color: #320D6D;
}